[submodule "resources/parse-ecma"]
	path = resources/parse-ecma
	url = https://github.com/mattbierner/parse-ecma
[submodule "resources/d3"]
	path = resources/d3
	url = git://github.com/mbostock/d3.git
[submodule "resources/parse"]
	path = resources/parse
	url = https://github.com/mattbierner/parse.js.git
[submodule "resources/nu"]
	path = resources/nu
	url = https://github.com/mattbierner/nu.git
[submodule "dependencies/ecma-ast"]
	path = dependencies/ecma-ast
	url = git://github.com/mattbierner/ecma-ast.git
